<% @page_title = "トラブルシューティング" %> 
<div class="trouble">
<h2>トラブルシューティング</h2>
<h3>パソコンをご利用中の方</h3>
各ブラウザのページをご覧ください。<br />
<strong>Edge</strong><br />
<a href="https://privacy.microsoft.com/ja-jp/windows-10-location-and-privacy" target="_blank">Windows 10 の位置情報サービスとプライバシー</a>
<br />
<strong>Google Chrome</strong><br />
<a href="https://support.google.com/chrome/answer/142065?co=GENIE.Platform%3DDesktop&hl=ja" target="_blank">Google Chrome 現在地情報を共有する</a><br />
<strong>Safari</strong><br />
<a href="https://support.apple.com/ja-jp/HT5403" target="_blank">OS X と Safari の位置情報サービスについて</a><br />
<strong>Opera</strong><br />
<a href="http://help.opera.com/Windows/10.61/ja/geolocation.html" target="_blank">Operaヘルプ：GeoLocation機能</a>
 	<br />
<h3>スマートフォンをご利用中の方</h3>
<h4>iPhoneの方</h4>
設定- > プライバシー -> 位置情報サービス	<br />
"位置情報サービス" が ”オフ” になっている場合は "オン" に切り替えてください。	<br />
また、利用中のブラウザ(Safari, Google Chromeなど)の "位置情報の利用" が許可されているかも合わせてご確認ください。	<br />

<h4>Androidの方</h4>
Androidは端末により、設定のメニューが異なるため以下の情報は参考程度に留めてください。<br />
設定 -> 位置情報・GPS（セキュリティ・現在地情報） -> 最近の位置情報リクエスト<br />
Socoを開いているアプリを選択し、位置情報の利用を許可してください。<br /><br /><br />
</div>
